@(issue: model.Issue, vocab: controllers.IssuePageVocab, df: java.text.DateFormat)(implicit token:com.atlassian.connect.play.scala.auth.Token, lang: Lang)

@import play.api.Play

@ac.page("Translate"){
<meta name="hostId" content="@token.acHost.key" />
<meta name="issueKey" content="@issue.key" />
<meta name="userKey" content="@token.user.getOrElse("")" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui.css" media="all">
<!--[if lt IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-ie.css" media="all"><![endif]-->
<!--[if IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-ie9.css" media="all"><![endif]-->
<script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui.js"></script>
<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui-ie.js"></script><![endif]-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/visibility.js/0.6.2/visibility.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
<meta name="hostBaseUrl" content="@token.acHost.baseUrl" />
</head>
<script>
    $(function() {
        AJS.$("#atlas-lingo-translate-close-link").click(function() {
            AP.require('dialog', function(dialog){
                dialog.close();
            });
        });
    });
</script>
} {
<div class="aui-popup aui-dialog" id="atlas-lingo-dialog" style="margin-top: -250px; margin-left: -400px; width: 800px; height: 500px; z-index: 3002; display: block;">
    <div class="dialog-components ac-content" id="atlas-lingo-translation" style="display: block;">
        <h2 class="dialog-title">@issue.key @issue.summary</h2>
        <!--
        <ul class="dialog-page-menu" style="height: 393px;">
            <li class="page-menu-item selected">
                <button class="item-button">Details</button>
            </li>
            <li class="page-menu-item">
                <button class="item-button">Comments</button>
            </li>
        </ul>
        -->
        <div class="dialog-page-body">
            <div class="dialog-panel-body panel-body" style="height: 393px; display: block;">
                <div class="aui-tabs vertical-tabs">
                    <ul class="tabs-menu">
                        <li class="menu-item active-tab">
                            <a href="#tabs-details"><strong>@vocab.details</strong></a>
                        </li>
                        <li class="menu-item">
                            <a href="#tabs-comments"><strong>@vocab.comments</strong></a>
                        </li>
                    </ul>
                    <div class="tabs-pane active-pane jira-details" id="tabs-details">
                        <dl>
                            <dt>@vocab.project</dt>
                            <dd>@issue.projectName</dd>
                        </dl>
                        <dl>
                            <dt>@vocab.issueKey</dt>
                            <dd>@issue.key</dd>
                        </dl>
                        <dl>
                            <dt>@vocab.summary</dt>
                            <dd>@issue.summary</dd>
                        </dl>
                        <dl>
                            <dt>@vocab.description</dt>
                            <dd>@issue.description</dd>
                        </dl>
                    </div>
                    <div class="tabs-pane" id="tabs-comments">
                        @for(c <- issue.comments) {
                        <div id="comment-@c.id" class="issue-data-block activity-comment twixi-block  expanded">
                            <div class="twixi-wrap verbose actionContainer">
                                <div class="action-head">
                                    <div class="action-details">
                                        <span class="aui-avatar aui-avatar-xsmall">
                                            <span class="aui-avatar-inner">
                                                <img src="@c.author.avatar">
                                            </span>
                                        </span>
                                        @c.author.displayName @vocab.addcomment  -
                                        <span class="commentdate_@{c.id}_verbose subText">
                                             <span class="date user-tz" title="@c.date">
                                                  <time class="livestamp" datetime="@c.date">@df.format(c.date)</time>
                                             </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="action-body flooded"><p>@c.body</p></div>
                            </div>
                            <!--
                            <div class="twixi-wrap concise actionContainer">
                                <div class="action-head">
                                    <a href="#" class="twixi"><span class="icon twixi-closed"><span>Show</span></span></a>
                                    <div class="action-details flooded">
                                        <a class="user-hover user-avatar" rel="pkorathota" id="commentauthor_52483_concise" href="/secure/ViewProfile.jspa?name=pkorathota"><span class="aui-avatar aui-avatar-xsmall"><span class="aui-avatar-inner"><img src="/secure/useravatar?size=xsmall&amp;ownerId=pkorathota&amp;avatarId=10201"></span></span> Pramod Korathota</a>
                                        added a comment  - <span class="commentdate_52483_concise subText"><span class="date user-tz" title="15/May/14 4:50 PM"><time class="livestamp" datetime="2014-05-15T16:50:36+1000">15/May/14 4:50 PM</time></span></span>                    Hey Robin - today was the date agreed on - how are you progressing with the work? Is there anyone who can take on this work since you are busy with blobstore?              </div>
                                </div>
                            </div>
                            -->
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-button-panel">
            <a href="#" class="button-panel-link #" id="atlas-lingo-translate-close-link">@vocab.close</a>
        </div>
    </div>
</div>
}
