@(issueKey: String, message: String)(implicit token:com.atlassian.connect.play.scala.auth.Token, lang: Lang)

@import play.api.Play

@ac.page("Translate"){
<meta name="hostId" content="@token.acHost.key" />
<meta name="issueKey" content="@issueKey" />
<meta name="userKey" content="@token.user.getOrElse("")" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui.css" media="all">
<!--[if lt IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-ie.css" media="all"><![endif]-->
<!--[if IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-ie9.css" media="all"><![endif]-->
<script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui.js"></script>
<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui-ie.js"></script><![endif]-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/visibility.js/0.6.2/visibility.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
<meta name="hostBaseUrl" content="@token.acHost.baseUrl" />
</head>
<script>
    $(function() {
    <!--AP.require('inline-dialog', function(inlineDialog){-->
        <!--inlineDialog.hide();-->
    <!--});-->
    <!--AJS.InlineDialog(AJS.$("#atlas-lingo-translate-popup-link"), "atlas-lingo-dialog", "/test?issueKey=@issueKey");-->
        AJS.$("#atlas-lingo-translate-popup-link").click(function() {
            AP.require('dialog', function(dialog){
                dialog.create({
                    key: 'test',
                    width: '800px',
                    height: '500px'
                });
            });
        });

    });
</script>
} {
<div id="atlas-lingo-button" class="ac-content">
    <button class="aui-button" href="#" id="atlas-lingo-translate-popup-link">
        @message
    </button>
</div>
}
